Aggregration and Grouping

In [1]:
import numpy as np
import pandas as pd

Planets data

In [3]:
import seaborn as sns

In [7]:
planets = sns.load_dataset('planets')
planets.shape

(1035, 6)

In [ ]:
planets.head()

Simple aggregrations in pandas

In [ ]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.rand(5))

In [ ]:
ser

In [ ]:
L = np.random.random(100)
sum(L)

In [ ]:
np.sum(L)

In [ ]:
big_array = np.random.rand(1000000)
%timeit sum(big_array)
%timeit np.sum(big_array)

In [ ]:
min(big_array), max(big_array)

In [ ]:
np.min(big_array), np.max(big_array)

In [ ]:
M = np.random.random((3, 4))
print(M)

In [ ]:
M.sum()

In [ ]:
M.min(axis=0)

In [ ]:
M.max(axis=1)

In [ ]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.rand(5))
ser

In [ ]:
ser.sum()

In [ ]:
ser.mean()

In [ ]:
df = pd.DataFrame({ 'A': rng.rand(5),
                    'B': rng.rand(5)})

In [ ]:
df

In [ ]:
df.mean()

In [ ]:
df.mean(axis='columns')

In [ ]:
planets.dropna().describe()

Advanced aggregrations

GroupBy: split, apply, combine

In [4]:
df = pd.DataFrame({ 'key': ['A', 'B', 'C', 'A', 'B', 'C'],
                    'data': range(6)}, columns=['key', 'data'])
df

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

In [5]:
df.groupby('key')

In [6]:
df.groupby('key').sum()

     data
key
A       3
B       5
C       7

In [9]:
# Column indexing
planets.groupby('method')['orbital_period']

In [10]:
planets.groupby('method')['orbital_period'].median()

method
Astrometry                         631.180000
Eclipse Timing Variations         4343.500000
Imaging                          27500.000000
Microlensing                      3300.000000
Orbital Brightness Modulation        0.342887
Pulsar Timing                       66.541900
Pulsation Timing Variations       1170.000000
Radial Velocity                    360.200000
Transit                              5.714932
Transit Timing Variations           57.011000
Name: orbital_period, dtype: float64

In [11]:
# Itteration over groups
for (method, group) in planets.groupby('method'):
    print("{0:30s} shape={1}".format(method, group.shape))

Astrometry                     shape=(2, 6)
Eclipse Timing Variations      shape=(9, 6)
Imaging                        shape=(38, 6)
Microlensing                   shape=(23, 6)
Orbital Brightness Modulation  shape=(3, 6)
Pulsar Timing                  shape=(5, 6)
Pulsation Timing Variations    shape=(1, 6)
Radial Velocity                shape=(553, 6)
Transit                        shape=(397, 6)
Transit Timing Variations      shape=(4, 6)

In [14]:
planets.groupby('method')['year'].describe().unstack()

       method
count  Astrometry                          2.0
       Eclipse Timing Variations           9.0
       Imaging                            38.0
       Microlensing                       23.0
       Orbital Brightness Modulation       3.0
                                         ...
max    Pulsar Timing                    2011.0
       Pulsation Timing Variations      2007.0
       Radial Velocity                  2014.0
       Transit                          2014.0
       Transit Timing Variations        2014.0
Length: 80, dtype: float64