In [ ]:
# One strength of Python is its relative ease in handling and manipulating string data. You can write a Python script to read data from a file and manipulate it in various ways. In this weekâ€™s exercise you will write a program that will take the following line of text:
# Pandas builds on this and  provides a comprehensive data analysis toolset

Introducing Pandas String operations

In [1]:
import numpy as np

In [3]:
x = np.array([2, 3, 5, 7, 11, 13])
x * 2

array([ 4,  6, 10, 14, 22, 26])

In [4]:
data = ['Peter', 'Paul', 'MARY', 'gUIDO']
[s.capitalize() for s in data]

['Peter', 'Paul', 'Mary', 'Guido']

In [8]:
data = ['Peter', 'Paul', None, 'MARY', 'gUIDO']
[s.capitalize() for s in data]

AttributeError: 'NoneType' object has no attribute 'capitalize'

In [9]:
import pandas as pd

In [10]:
names = pd.Series(data)
names

0    Peter
1     Paul
2     None
3     MARY
4    gUIDO
dtype: object

In [11]:
names.str.capitalize()

0    Peter
1     Paul
2     None
3     Mary
4    Guido
dtype: object

Tables of pandas string methods

In [12]:
monte = pd.Series(['Graham Chapman', 'John Cleese', 'Terry Gilliam',
                   'Eric Idle', 'Terry Jones', 'Michael Palin'])

Methods similar to python string methods

In [13]:
monte.str.lower()

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5     michael palin
dtype: object

In [14]:
monte.str.len()

0    14
1    11
2    13
3     9
4    11
5    13
dtype: int64

In [15]:
monte.str.startswith('T')

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [16]:
monte.str.split()

0    [Graham, Chapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5     [Michael, Palin]
dtype: object